﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Viagens</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link href="~/css/jcarousel.basic.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />*@

    <link href="~/css/bundle.min.css" asp-append-version="true" rel="stylesheet" />



    @RenderSection("head", false)

</head>
<body>
    <header>
        <partial name="_menu" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Fiap - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/js/jquery.jcarousel.js"></script>
    <script src="~/js/jquery.lazy.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>